.container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100000;
  // width: 80%;
  max-width: 90%;
  min-width: 300px;
  max-height: 90vh;
  overflow-y: auto;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
